@mixin info-titulo(){
	text-aling:center;
	font-size:50px;
}

@mixin box(){
	margin-bottom:70px;
}

@mixin parrafo(){
	font-size:70;
}

@mixin parrafo(){
	font-size:25px;
	text-align:center;
	padding:15px;
}